<div class="l-container">
    <div class="etkinlikler">
      <div class="etkinlikler_card" style="background-image: url(http://test-fileserver.gazi.edu.tr/teknopark//rw/BYS-GRUP-%E2%80%93-NATIONAL-SCIENCE-AND-TECHNOLOGY-PARK-B2B-GORUSMELERI.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=teknopark%2F20240703%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240703T111003Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=5cdccd68336292d2eb659a997a05c186de03b5d2db445892b82a8a27e61030bb);"></div>
    </div>
    <div class="etkinlikler">
      <div class="etkinlikler_card" style="background-image: url(http://test-fileserver.gazi.edu.tr/teknopark//rw/LONDRA-SEKTOREL-TICARET-HEYETI-BILGILENDIRME-TOPLANTISI.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=teknopark%2F20240703%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240703T111003Z&X-Amz-Expires=86400&X-Amz-SignedHeaders=host&X-Amz-Signature=cb5c10481520616253fab60cfe7058c74ce05265f34b85ab4d8759e7835ad53f);"></div>
    </div>
    <div class="etkinlikler">
      <div class="etkinlikler_card" style="background-image: url(https://www.gaziteknopark.com.tr/allevent/279/0);"></div>
    </div>
    <div class="etkinlikler">
      <div class="etkinlikler_card" src="assets/Etkinliklercalisan-bagligi.jpg">    </div>
    </div>
  </div>
  
  <div id="buttonetkinlikler">
    <button id="etkinliklerbtn">Tüm etkinlikler</button>
  </div>
  